<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Estoque - Cadastro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <a class="navbar-brand">Estoque</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <form method="POST" action="/adicionar/">
        <div class="row">
         <div class="mx-auto col-md-6">
          <div class="jumbotron">
            <input class="form-control form-control-lg" type="text" name="nome" id="nome" th:value="${item.nome}" disabled>
            <hr class="my-4">
              <label class="lead" for="quantidade">Quantidade</label>
              <input type="text" class="form-control col-md-2" id="quantidade" name="quantidade" th:value="${item.quantidade}" disabled>
              <label class="lead" for="validade">Prazo de validade</label>
              <input type="text" class="form-control col-md-4 mb-3" id="validade" name="validade" th:value="${item.validade}" disabled>                  
              <input type="hidden" name="id" id="id" th:value="${item.id}" />
              <a class="btn btn-primary" th:href="@{/deletar/{id}(id=${item.id})}" role="button">Deletar</a>
              <a class="btn btn-primary" onclick="editar()" role="button">Editar</a>
              <button class="btn btn-success" type="submit" id="confirm" hidden>Confimar alterações</button>
              <a class="btn btn-danger" onclick="cancel()" id="cancel" role="button" hidden>Cancelar</a> 
            </p>
            </div>
          </div>
        </div>
      </form>
    <script>
      function editar(){
        document.getElementById("nome").disabled = false;
        document.getElementById("quantidade").disabled = false;
        document.getElementById("validade").disabled = false;
        document.getElementById("confirm").hidden = false;
        document.getElementById("cancel").hidden = false;
      }
      function cancel(){
        document.getElementById("nome").disabled = true;
        document.getElementById("quantidade").disabled = true;
        document.getElementById("validade").disabled = true;
        document.getElementById("confirm").hidden = true;
        document.getElementById("cancel").hidden = true;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>