<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Estoque</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div class="row">
        <div class="col-md-4  mx-auto mb-5 mt-5">
            <form method="POST" action="/adicionar">
                <div class="form-group col-md-12">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome do item">
                </div>
                <div class="form-group col-md-4">
                  <label for="quantidade">Quantidade</label>
                  <input type="number" class="form-control" id="quantidade" name="quantidade" placeholder="Qntd.">
                </div>
                <div class="form-group col-md-6">
                    <label for="validade">Prazo de validade</label>
                    <input type="text" class="form-control" id="validade" name="validade" placeholder="AAAA-MM-DD">
                </div>
                <input type="hidden" name="id" id="id">
                <button type="submit" class="btn btn-primary col-md-12">Cadastrar</button>
              </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <ul class="list-group" th:each="item : ${lista}">
                <li class="list-group-item"><a class="btn" th:href="@{/detalhes/{id}(id=${item.id})}" th:text="${item.nome}" style="color: black;"></a> <a class="btn btn-info" th:href="@{/editar/{id}(id=${item.id})}">Editar</a> <a class="btn btn-danger" th:href="@{/deletar/{id}(id=${item.id})}">Deletar</a></li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>